<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      (click)="directToListOfReservations()"
      aria-selected="false"
      >Lista zajęć</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      (click)="goToCreateStudent()"
      aria-selected="true"
      >Stwórz użytkownika</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="directToListOfUsers()" aria-selected="false"
      >Lista osób</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
